In [1]:
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
from pandas import json_normalize
import json
from scipy.stats import norm
import seaborn as sns
from tqdm import tqdm

In [46]:
df = pd.read_json('markups.json')

In [47]:
df['recordname'] = np.where((df.recordname.str.rfind('.wav') != -1),  df.recordname.str[:-4] + '.mp3', df.recordname)

In [48]:
lst = ['10 БАСЛИНА.mp3',
    '9 КОЗИН.mp3',
    '13 ТУРЕВСКАЯ.mp3',
    '39 ЗАПИСЬ.mp3',
    '7 КУДИНОВА.mp3',
    '34 ЗАПИСЬ.mp3',
    '11 РОМАНАДЗЕ.mp3',
    '35 ЗАПИСЬ.mp3',
    '5 КЛИМОВА.mp3',
    '36 ЗАПИСЬ.mp3',
    '12 ПОЛЯКОВ.mp3',
    '23 ЗАПИСЬ.mp3',
    '4 ЗЕМСКОВ.mp3']

In [49]:
df_new = df.set_index('recordname')

In [50]:
df_new = df_new.loc[lst, :]

In [51]:
df_new = pd.concat([df_new, intervals_pd], axis=1)

In [52]:
df_new = df_new.reset_index()

In [53]:
df_new

,recordname,_id,username,phonemes,words,sentences,__v,intervals
0,10 БАСЛИНА.mp3,5f9da9b0500f737cc11b51ab,irism104,"[{'notation': 'к', 'start': 360.949, 'end': 36...",[],[],0,"[[360.0, 423.0]]"
1,9 КОЗИН.mp3,5f9dae65500f737cc11b51be,Majorian,"[{'notation': 'а', 'start': 10.96, 'end': 11.4...","[{'value': 'На', 'start': 49.26, 'end': 49.35}...","[{'value': 'Мужчина, 24 года.', 'start': 0, 'e...",0,"[[0.0, 73.47]]"
2,13 ТУРЕВСКАЯ.mp3,603f870203710f06f27adba7,Filipinosj,"[{'notation': 'а', 'start': 1.19, 'end': 1.72,...","[{'value': 'на', 'start': 49.93, 'end': 50.27}...",[{'value': 'На аргентинском авиасалоне авиатор...,0,"[[0.0, 51.25]]"
3,39 ЗАПИСЬ.mp3,60084c7e03710f06f27ad139,fluffybird,"[{'notation': 'а', 'start': 2.174, 'end': 2.50...","[{'value': 'на', 'start': 35.08, 'end': 35.24}...",[{'value': 'На аргентинском авиасалоне авиатор...,0,"[[0.0, 46.34]]"
4,7 КУДИНОВА.mp3,5fa16786500f737cc11b5285,nataliak,"[{'notation': 'н', 'start': 17.752, 'end': 17....","[{'value': 'На ', 'start': 17.754, 'end': 17.8...",[{'value': 'На аргентинском авиасалоне авиатор...,0,"[[0.0, 45.96]]"
5,34 ЗАПИСЬ.mp3,60047e0003710f06f27ace62,katerina.ver99@gmail.com,"[{'notation': 'н', 'start': 31.601, 'end': 31....","[{'value': 'на', 'start': 31.66, 'end': 31.74}...",[{'value': 'на аргентинском авиасалоне авиатор...,0,"[[0.0, 39.56], [119.11, 119.66]]"
6,11 РОМАНАДЗЕ.mp3,5fe861c16a6f483f4113d1a4,razumova,"[{'notation': 'н', 'start': 34.267, 'end': 34....","[{'value': 'На', 'start': 34.319, 'end': 34.46...",[{'value': 'На аргентинском авиасалоне авиатор...,0,"[[34.26, 36.72]]"
7,35 ЗАПИСЬ.mp3,5fe875b96a6f483f4113d1c5,nastyagvozd,"[{'notation': 'н', 'start': 34.602, 'end': 34....","[{'value': 'на', 'start': 34.669, 'end': 34.82...",[{'value': 'На Аргентинском авиасалоне авиат...,0,"[[34.6, 67.33]]"
8,5 КЛИМОВА.mp3,5fa40cfd500f737cc11b54e9,Himmelsstuermer,"[{'notation': 'н', 'start': 36.383, 'end': 36....","[{'value': 'На', 'start': 36.385, 'end': 36.43...",[{'value': 'В агрессивном антагонизме с админи...,0,"[[36.38, 55.79]]"
9,36 ЗАПИСЬ.mp3,6009858b03710f06f27ad2a5,juliakor20,"[{'notation': 'р', 'start': 44.594, 'end': 44....","[{'value': 'На', 'start': 43.854, 'end': 44.12...",[{'value': 'На аргентинском авиасалоне авиатор...,0,"[[44.42, 45.29]]"
10,12 ПОЛЯКОВ.mp3,600f4fd203710f06f27ad5ab,hast_gt,"[{'notation': 'н', 'start': 52.073, 'end': 52....","[{'value': 'на', 'start': 51.97, 'end': 52.31}...",[{'value': 'На аргентинском авиасалоне авиатор...,0,"[[52.07, 66.14], [105.05, 132.64], [277.72, 27..."
11,23 ЗАПИСЬ.mp3,600ef77803710f06f27ad54d,abel.grigorian@yandex.ru,"[{'notation': 'н', 'start': 67.872, 'end': 67....","[{'value': 'На', 'start': 67.912, 'end': 67.95...",[],0,"[[67.87, 70.44]]"
12,4 ЗЕМСКОВ.mp3,5fa18b60500f737cc11b52ad,lilay_19@mail.ru,"[{'notation': 'л’', 'start': 225.657, 'end': 2...",[],[],0,"[[225.65, 257.95]]"

In [60]:
df_phonemes = pd.concat([pd.json_normalize(row['phonemes']).assign(**{'recordname':row['recordname']}) for index, row in df_new.iterrows()])

In [69]:
df_phonemes = df_phonemes[['start', 'end', 'recordname']]

In [63]:
file = open('../example_Data/first_data.json','r')
text = file.read()
text = json.loads(text)
first_df = json_normalize(text, 'phonemes')

In [64]:
first_df['recordname'] = 'first_data.mp3'

In [66]:
first_df = first_df[['start', 'end', 'recordname']]

In [71]:
all_df = pd.concat([first_df, df_phonemes], axis=0)

In [78]:
all_df = all_df.set_index('recordname')

In [72]:
intervals_dict = {
    'first_data.mp3': [[0., 47.39], [342., 388.]],
    '10 БАСЛИНА.mp3': [[360., 423.]],
    '9 КОЗИН.mp3': [[0., 73.47]],
    '13 ТУРЕВСКАЯ.mp3': [[0., 51.25]],
    '39 ЗАПИСЬ.mp3': [[0., 46.34]],
    '7 КУДИНОВА.mp3': [[0., 45.96]],
    '34 ЗАПИСЬ.mp3': [[0., 39.56], [119.11, 119.66]],
    '11 РОМАНАДЗЕ.mp3': [[34.26, 36.72]],
    '35 ЗАПИСЬ.mp3': [[34.6, 67.33]],
    '5 КЛИМОВА.mp3': [[36.38, 55.79]],
    '36 ЗАПИСЬ.mp3': [[44.42, 45.29]],
    '12 ПОЛЯКОВ.mp3': [[52.07, 66.14], [105.05, 132.64], [277.72, 278.4]],
    '23 ЗАПИСЬ.mp3': [[67.87, 70.44]],
    '4 ЗЕМСКОВ.mp3': [[225.65, 257.95]]
}

In [73]:
intervals_pd = pd.DataFrame(list(intervals_dict.items()), columns=['recordname', 'intervals']).set_index('recordname')

In [80]:
all_df

                  start      end
recordname
first_data.mp3    2.150    2.205
first_data.mp3    4.105    4.186
first_data.mp3   46.469   46.567
first_data.mp3    2.314    2.352
first_data.mp3   46.820   46.916
...                 ...      ...
4 ЗЕМСКОВ.mp3   257.458   257.51
4 ЗЕМСКОВ.mp3    257.53  257.594
4 ЗЕМСКОВ.mp3   257.723  257.778
4 ЗЕМСКОВ.mp3    257.81  257.843
4 ЗЕМСКОВ.mp3   257.891  257.947

[3620 rows x 2 columns]

In [74]:
intervals_pd

                                                          intervals
recordname
first_data.mp3                       [[0.0, 47.39], [342.0, 388.0]]
10 БАСЛИНА.mp3                                     [[360.0, 423.0]]
9 КОЗИН.mp3                                          [[0.0, 73.47]]
13 ТУРЕВСКАЯ.mp3                                     [[0.0, 51.25]]
39 ЗАПИСЬ.mp3                                        [[0.0, 46.34]]
7 КУДИНОВА.mp3                                       [[0.0, 45.96]]
34 ЗАПИСЬ.mp3                      [[0.0, 39.56], [119.11, 119.66]]
11 РОМАНАДЗЕ.mp3                                   [[34.26, 36.72]]
35 ЗАПИСЬ.mp3                                       [[34.6, 67.33]]
5 КЛИМОВА.mp3                                      [[36.38, 55.79]]
36 ЗАПИСЬ.mp3                                      [[44.42, 45.29]]
12 ПОЛЯКОВ.mp3    [[52.07, 66.14], [105.05, 132.64], [277.72, 27...
23 ЗАПИСЬ.mp3                                      [[67.87, 70.44]]
4 ЗЕМСКОВ.mp3                                    [[225.65, 257.95]]

In [82]:
all_df = all_df.join(intervals_pd).reset_index()

In [83]:
all_df.to_csv('markups.csv')

In [ ]:
df_phonemes = pd.concat([pd.json_normalize(row['phonemes']).assign(recordname=row['recordname'])
                         .assign(intervals=intervals_dict[row['recordname']])
                         for index, row in df.iterrows()])